# Core
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

# Hugging Face
transformers==4.56.1
peft==0.17.1
trl==0.19.1
accelerate==1.10.1
datasets==4.0.0
huggingface_hub>=0.34.0

# Quantization
bitsandbytes==0.47.0

# Unsloth
unsloth
unsloth_zoo

# Utilities
numpy<2.0
pandas
tqdm
safetensors
sentencepiece
protobuf
scipy
evaluate
scikit-learn